body{
    background-color: #E1A3FF;
}

#mainmessage{
    width: 1000px;
    height: 1000px;
    font-size: 30px;
    margin-top: 50px;
}


#page{
    display: inline;
    font-size: 25px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 300px;
    text-decoration: none; 
}

#check:hover{
<<<<<<< Updated upstream
    text-decoration: underline;
=======
    color: red;
>>>>>>> Stashed changes
}