/* Body Page Design */
body{
  background-color: #E1A3FF;
  font-family: Poppins;
  margin-bottom: 15%;
}

/* Mission Title */
h2{
  font-weight: bold;
  font-size: 40px;
  margin-top: -6%;
  margin-bottom: 1%;
}


/* Mission and Participate Statement Background */
#mp{
  background-image: linear-gradient(to right, #FF0998, #9B07E1);
  margin-left: -1.2%;
  margin-right: -1.2%;
  margin-bottom: -1%;  
}

/* Mission Statement */
#statement{
  font-size: 23px;
  width: 1300px;
  font-weight: bold;
}

/* Page Hyperlinks */
#links{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  column-gap: 80px;
  margin-bottom: 15%;
  margin-left: 45%;
  margin-top: -12%;
}

/* Hyperlink Decoration */
#linkDec{
  text-decoration: none;
}

/* Hyperlink Color */
a:link{
  color: black;
}

/* Hyperlink Visited Color */
a:visited{
  color:black;
}

/* FloForward Logo Class */
.logo{
  height: 350px;
  width: 350px;
  margin-left: 2%;
  display: inline;
}

/* Contact us statement */
#contactus{
  margin-top: -6%;
  font-size: 30px;
  width: 800px;
}

/* Follow social media statement */
#socialmedia{
  margin-top: -35%;
  margin-left: 45%;
  font-size: 30px;
  color: red;
}

/* Form Design */
#interest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  row-gap: 5px;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: -12%;
}

/* Form Placement */
#socials{
  background-color: black;
  margin-left: -1.25%;
  margin-right: -1.2%;
  bottom: 50%;
}

/* Name for form */
#name{
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 7px;
  border-color:color-mix(in lch, plum, pink);
  margin-top: 5%;
  margin-left: -30%;
}

/* Email for form */
#email{
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 7px;
  border-color:color-mix(in lch, plum, pink);
  margin-top: 1%;
  margin-left: -30%;
}

/* Comment for form */
#comment{
  width: 300px;
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 7px;
  border-color:color-mix(in lch, plum, pink);
  margin-top: 1%;
  margin-left: -30%;
}

/* Submission button form placement */
#newsubmission{
  margin-top: -3%;
  margin-left: -29.5%;
}

/* Submission button design */
#submission{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to right, #FF0998, #9B07E1);
  border-radius: 10px;
  border-color: #E1A3FF

}

/* Contacts page Instagram logo design */
.instagramc{
  height: 38px;
  position: absolute;
  top: 120%;
  right: 35%;
}

/* Participate Title */
#participatet{  
  font-weight: bold;
  font-size: 30px;
}

/* Participation Description */
#participationd{
  width: 800px;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: -5%;
}

/* Options Title */
#options{
  font-weight: bold;
  font-size: 22px;
  margin-top: 8%;
  margin-bottom: -5%;
}

/* Participation Instruction */
#participation{
  width: 800px;
  font-size: 20px;
  margin-top: 6%;
  margin-bottom: -5%;
  margin-left: 20%;
}

/* Google Logo Form Design */
.gform{
  height: 42px;
  position: absolute;
  top: 150%;
  right: 50%;
}

/* Join page Instagram Logo Design */
.instagramj{
  height: 38px;
  position: absolute;
  top: 150%;
  right: 60%;
}

/* Amazon Logo Design */
.amazon{
  height: 30px;
  position: absolute;
  top: 152%;
  right: 36%;
}
